<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>

</head>

<body>

    <div class="container-fluid">
        <h1>Bachi's URL Shortener</h1>
        <hr>
        <form action="#" method="post">
            <label for="url">Enter an https://URL:</label>
            <input type="url" name="nm" id="url"
                   placeholder="https://example.com"
                   pattern="https://.*" size="50"
                   required>
            <br>
            <input type="submit" value="submit" class="btn btn-primary">
        </form>
         <a style="cursor: pointer" onclick="display()" id="display_url"> http://127.0.0.1:3306/{{short_url_display}}</a>
         <h4>{{count_display}}</h4>
        </hr>
    </div>
    <script>
    function display() {
    var m=document.getElementById("display_url")
    console.log(m.innerHTML)
    window.open(m.innerHTML,'_blank');
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>